.grid-container {
    display: grid;
    height: 450px;
    width: 370px;
    background-color: black;
    padding: 10px;
    gap: 3px;
}

.grid-container > div {
    
    grid-template-columns: auto auto auto auto;
    text-align: center;
    padding: 20x;
    font-size: 30px;
    border-radius: 3px;
}

.grid-item {
    grid-column: 1/5;
    border: solid grey;
    background-color: whitesmoke;
}

.grid-item1, .grid-item2 , .grid-item3 , .grid-item4, .grid-item5 ,.grid-item6 , .grid-item7 , .grid-item8 , .grid-item9 , .grid-item10 , .grid-item11 , .grid-item12 , .grid-item13 , .grid-item14 , .grid-item15 , .grid-item16 , .grid-item17 , .grid-item18  {
    background-color: aqua;
} 

.grid-item19{
    grid-column: 3 / 5;
    background-color: aqua;
}